<a href="{{ greenButton.url }}" style="background-color: var(--green);"
  class="m-4 p-1 rounded-md shadow-md text-center block hover:scale-105 {{ greenButton.width }}">
  <p class="text-lg">{{ greenButton.text }}</p>
</a>
