<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet"> 
    <title>FadhilAF - {{ title | capitalize }}</title>
    <link href="{{ '/assets/css/styles.css' | url }}" rel="stylesheet">
    {# Favicon >>> #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {# Favicon <<< #}
  </head>
  <body>
    {% include "partials/header.njk" %}
    <article class="prose container md:max-w-screen-md p-4 mx-auto text-left">
      <h2>{{ name }}</h2>
      <div class="text-sm">
        <div class="relative inline-block top-0.5 mr-1 h-4 w-4 bg-contain bg-center bg-no-repeat rounded-2xl" style="background-image:  url('.{{ profile }}');"></div>
        {{ author }}, last edited {{ date | formatDate }}
      </div>
      <div class="my-4 h-[150px] bg-contain bg-center bg-no-repeat" style="background-image:  url('.{{ cover }}');"></div>
      {{ content | safe }}
      <style>
        img {
          margin: auto;
        } 
      </style>
    </article>
    {% include "partials/footer.njk" %}
    <script src="{{ '/assets/js/script.js' | url }}" defer></script>
  </body>
</html>
