---
title: home
layout: base 
tags: page
--- 

<section class="h-screen w-full text-center relative">
  <div class="h-36 w-11/12 m-auto inset-0 text-5xl md:text-6xl lg:text-8xl font-bold inline-block absolute">
    <div class="p-4" id="typewriter"></div>
    <div class="w-max m-auto">
      {% include "components/socialMedia.njk" %}
    </div>
  </div>
  <div class="h-4 w-full bottom-20 absolute">
    Hello, welcome to my personal website!
  </div>
</section>
<div class="login">
  <div class="max-w-lg">
    <div class="text-center mr-8 ml-8">
      <p class="font-bold text-lg">
        Here's the login button to authenticate
      </p>
    </div>
    <p class="font-light m-8">
      (not everyone could create an account, its made directly from contact with me)
    </p>
  </div>
  {% set greenButton = {link: '#', text: 'Log In', width: 'w-24'} %}
  {% include "components/greenButton.njk" %}
</div>
<p class="text-lg font-bold">Hall of fame:</p>
Aku keren!

Aku keren!

No, me

<script src="/assets/js/typewriter.bundle.js"></script>

<style>
  .login {
    background-color: var(--bg-2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login svg {
    fill: var(--bg-1);
  }

  @media screen and (max-width: 75rem) {
    .name {
      width: 650px;
      height: 250px;
    }
  }

  @media screen and (max-width: 42rem) {
    .name {
      width: 380px;
      font-size: 3rem;
      height: 150px;
    }
  }

  @media screen and (max-width: 25rem) {
    .name {
      width: 250px;
      font-size: 2rem;
      height: 100px;
    }
  }
</style>
